.submit{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #0F172A;
    color:#FFFFFF;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 10px;
    transition: all 0.3 ease;
}

.submit:hover{
    background-color: #2f2f31;
}