
.login-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 500px;
    min-height: 350px;
    border: 1px solid #d2d0da;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px #e4e2ed;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.email{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.password{
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    display: block;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 18px;
}

input{
    display: block;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-family: sans-serif;
    background-color: #fff;
    color: #000;
    font-weight: 300;
    margin: 10px 0px;
    outline: none;
    font-size: 16px;
    padding: 7px 20px;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
    letter-spacing: 1px;
}

input:focus{
    border-color: #b47e7b;
}

.account{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.link{
    color: #000;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
}
