.container{
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 1rem;
    border-bottom: 1px solid #d2d0da;

}

.select-lang{
    border-radius: 0.375rem;
    padding: 5px;
    border: 1px solid #c5c3cb;
    
    
}